.container {
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.words{
    text-align: center;
    h3{
        margin: 10px;
    }
}

.icons {
  text-align: center;
  margin-top: 25px;
  a {
    color: gray;
    margin-right: 5px;
  }
}
