.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
  }
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
}

.example-card {
  width: 280px;
  margin: 15px;
  margin-left: 0;
}

#i-red {
  color: #ff5810;
}

#i-yellow {
  color: #f8ce23;
}

#i-green {
  color: #00d069;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}