<div class="container">
    <h2>Projects</h2>
    <div class="container-flex">
        <div>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>blockchainFrontend</mat-card-title>
                    <mat-card-subtitle>WebApp for DChain</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <i id="i-green" class="fas fa-comment-alt fa-lg"><span>133</span></i>
                    <i id="i-yellow" class="fas fa-code-branch fa-lg"><span>2</span></i>
                    <i id="i-red" class="fas fa-exclamation-circle fa-lg"><span>1</span></i>
                </mat-card-content>
                <mat-card-actions align="right">
                    <button mat-button>GITHUB</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>