.flex-center {
  display: flex;
  justify-content: center;
}
.container {
  width: 800px;
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
  }
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
}

.example-card {
  width: 280px;
  margin: 15px;
  margin-left: 0;
}

#i-red {
  color: #ff5810;
}

#i-yellow {
  color: #f8ce23;
}

#i-green {
  color: #00d069;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container{
    width: 100vw;
    h2{
      text-align: center;
    }
    .example-card{
      width: 90vw;
      text-align: center;
    }
  }
}
