.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
  }
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
}

.example-card {
  width: 250px;
  margin: 15px;
  margin-left: 0;
}

.card{
  background: white;
  width: 250px;
  height: 150px;
  margin: 15px;
}


#i-red {
  color: #ff5810;
}

#i-yellow {
  color: #f8ce23;
}

#i-green {
  color: #00d069;
}
