<div class="container">
    <h2>Contact</h2>
    <div [class.mat-elevation-z2]="!isActive"  class="content">
        <div class="container-flex">
            <h3>Hey, happy to hear from you...</h3>
            <mat-form-field>
                <input matInput placeholder="Name*">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email*">
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Message*"></textarea>
            </mat-form-field>

            <div>
                <button mat-raised-button color="primary">CONTACT</button>
            </div>
        </div>
    </div>
</div>