@import "~src/app/sass/variables";

.flex-center {
  @extend %flex-center;
}
.container {
  width: $normal-width;
  h2 {
    @extend %margin-between-block;
  }
}

.content {
  @extend %flex-center;
  background-color: white;
  padding-top: 45px;
  padding-bottom: 45px;
}

form {
  @extend %flex-column;
  h3 {
    font-weight: normal;
  }
}

/* Smartphones [portrait and landscape] */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .submit-btn {
    display: flex;
    justify-content: center;
    button {
      width: $full-width;
    }
  }
  h2 {
    text-align: center;
  }
}
