@import "~src/app/sass/variables";

.flex-center {
  @extend %flex-center;
}

.container {
  width: $normal-width;
  h2 {
    @extend %margin-between-block;
  }
}

.container-flex {
  @extend %flex-row;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    width: 19%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    i {
      color: #f8ce23;
    }
    h4 {
      font-weight: normal;
    }
  }
}

/* Smartphones [portrait and landscape] */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container-flex {
    flex-direction: column;
    div {
      width: $full-width;
      padding: 0;
      padding-top: 25px;
      text-align: center;
    }
  }
  h2 {
    text-align: center;
  }
}
