<div class="container">
    <h2>Interests</h2>
    <div class="container-flex">
        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-red" class="fas fa-music fa-3x"></i>
            <h4>Music</h4>
        </div>
        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-yellow" class="fas fa-guitar fa-3x"></i>
            <h4>Guitar</h4>
        </div>
        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-green" id="" class="fas fa-gamepad fa-3x"></i>
            <h4>Gaming</h4>
        </div>
        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-ltblue" class="fas fa-code fa-3x"></i>
            <h4>Code</h4>
        </div>
        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-purple" class="fas fa-tv fa-3x"></i>
            <h4>TV</h4>
        </div>
    </div>
</div>