.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
  }
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    width: 19%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    i{
      color: #f8ce23;
    }
    h4 {
      font-weight: normal;
    }
  }
}
