.flex-center {
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
  }
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    width: 19%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    i {
      color: #f8ce23;
    }
    h4 {
      font-weight: normal;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container-flex {
    flex-direction: column;
    div {
      width: 100vw;
      padding: 0;
      padding-top: 25px;
      text-align: center;
    }
  }
  h2 {
    text-align: center;
  }
}
