@import "~src/app/sass/variables";

.container {
  width: $normal-width;
  h2 {
    @extend %margin-between-block;
  }
}

.flex-center {
  @extend %container-wrapper;
}

.container-flex {
  @extend %container-wrapper;
  justify-content: space-between;

  div {
    width: 20%;
    background-color: white;
    padding: 15px;
    i {
      padding-top: 25px;
    }
    h3 {
      font-weight: normal;
    }
  }
}

#i-red {
  color: #ff5810;
}

#i-yellow {
  color: #f8ce23;
}

#i-green {
  color: #00d069;
}

#i-blue {
  color: #5d8afd;
}

/* Smartphones [portrait and landscape] */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container-flex {
    flex-direction: column;
    div {
      width: $full-width;
      padding: 0;
      text-align: center;
    }
  }
  h2 {
    text-align: center;
  }
}
