<div class="container">
    <h2>What I Doing</h2>
    <div class="container-flex">
        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-blue" class="fas fa-user-graduate fa-lg"></i>
            <h3>Learning</h3>
            <p>Learning new technologies and features of programming languages</p>
        </div>

        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-yellow" class="fas fa-desktop fa-lg"></i>
            <h3>Frontend</h3>
            <p>Create my application mockups</p>
        </div>

        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-green" class="fas fa-code fa-lg"></i>
            <h3>Backend</h3>
            <p>I develop applications in C#</p>
        </div>

        <div [class.mat-elevation-z2]="!isActive" >
            <i id="i-red" class="fas fa-project-diagram fa-lg"></i>
            <h3>Projects</h3>
            <p>I have to become the best developer in the world</p>
        </div>
    </div>
</div>