<div class="container">
    <h2>What I Doing</h2>
    <div class="container-flex">
        <div>
            <i class="fas fa-user-graduate fa-lg"></i>
            <h4>Learning</h4>
            <p>Learning new technologies and features of programming languages</p>
        </div>

        <div>
            <i class="fas fa-desktop fa-lg"></i>
            <h4>Frontend</h4>
            <p>Create my application mockups</p>
        </div>

        <div>
            <i class="fas fa-code fa-lg"></i>
            <h4>Backend</h4>
            <p>I develop applications in C#</p>
        </div>

        <div>
            <i class="fas fa-project-diagram fa-lg"></i>
            <h4>Projects</h4>
            <p>I have to become the best developer in the world</p>
        </div>
    </div>
</div>