.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div{
      width: 20%;
      background-color: white;
      padding: 15px;
      i{
        padding-top: 25px;
      }
  }
}
