.container {
  width: 800px;
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
  }
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    width: 20%;
    background-color: white;
    padding: 15px;
    i {
      padding-top: 25px;
    }
    h3 {
      font-weight: normal;
    }
  }
}

#i-red {
  color: #ff5810;
}

#i-yellow {
  color: #f8ce23;
}

#i-green {
  color: #00d069;
}

#i-blue {
  color: #5d8afd;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container-flex {
    flex-direction: column;
    div {
      width: 100vw;
      padding: 0;
      text-align: center;
    }
  }
  h2 {
    text-align: center;
  }
}
