@import "~src/app/sass/variables";

.container-flex {
  @extend %container-wrapper;
}

.container {
  @extend %flex-row;
  width: $normal-width;
  flex-wrap: wrap;
  justify-content: space-between;
  h2 {
    @extend %margin-between-block;
  }
}

.lang-tech-skills {
  width: 49%;
}

.other-skills {
  width: $full-width;
}

.skills {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
}

.center {
  text-align: center;
  p {
    margin: 0;
  }
}

mat-slider {
  width: 90%;
}

/* Smartphones [portrait and landscape] */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container-flex {
    width: $full-width;
  }
  .container {
    width: $full-width;
    display: flex;
    h2 {
      text-align: center;
    }
  }

  .lang-tech-skills {
    width: $full-width;
  }
}
