<header [class.mat-elevation-z2]="!isActive">
    <ul>
        <div (click)="scrollTo('about')" [ngClass]="{ 'div-menu': currentSection === 'about' }">ABOUT ME</div>
        <div (click)="scrollTo('skills')" [ngClass]="{ 'div-menu': currentSection === 'skills' }">SKILLS</div>
        <div (click)="scrollTo('projects')" [ngClass]="{ 'div-menu': currentSection === 'projects' }">PROJECTS
        </div>
        <div (click)="scrollTo('contact')" [ngClass]="{ 'div-menu': currentSection === 'contact' }">CONTACT</div>
        <li><a href="https://github.com/letsdrum">GitHub</a></li>
    </ul>
</header>
<div scrollSpy (sectionChange)="onSectionChange($event)">
    <div class="background"></div>
    <div id="about" class="profile">
        <app-profile></app-profile>
    </div>

    <div id="skills" class="skills">
        <app-skills></app-skills>
    </div>

    <app-what-i-doing></app-what-i-doing>

    <app-interests></app-interests>

    <div id="projects" class="projects">
        <app-projects></app-projects>
    </div>


    <div id="contact" class="contact">
        <app-contact></app-contact>
    </div>

    <app-footer></app-footer>

</div>

<router-outlet></router-outlet>