header {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 1000;
}

.background {
  height: 500px;
  background: url(../assets/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  li {
    padding-right: 15px;
    padding-left: 15px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  div {
    padding-right: 15px;
    padding-left: 15px;
  }
  div:active {
    background-color: black;
    color: white;
  }
}

.div-menu {
  background-color: black;
  color: white;
}

.profile {
  margin-top: -270px;
}
