@import "~src/app/sass/variables";

header {
  @extend %flex-center;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: $normal-width;
  background-color: white;
  z-index: 1000;
  ul {
    @extend %flex-row;
    flex-wrap: wrap;
  }
}

.background {
  height: 500px;
  background: url(../assets/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

ul {
  @extend %flex-row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  li {
    padding-right: 15px;
    padding-left: 15px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  div {
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
  }
}

.div-menu {
  background-color: black;
  color: white;
}

.profile {
  margin-top: -270px;
}

/* Smartphones [portrait and landscape] */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header {
    position: absolute;
    z-index: 1500;
    width: 100%;
    div {
      margin: 5px;
    }
    li {
      margin: 5px;
    }
    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  .profile {
    margin-top: -455px;
  }
  header {
    display: none;
  }
}
