<div class="container">
    <div class="content">
        <div class="container-flex">
            <h3>Hey, happy to hear from you...</h3>
            <form action="https://formspree.io/letsdrumm@gmail.com" method="POST">
                <mat-form-field>
                    <input matInput type="text" placeholder="Your name" name="name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="email" placeholder="Your email" name="_replyto">
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput name="message" placeholder="Your message"></textarea>
                </mat-form-field>

                <div>
                    <button mat-raised-button type="submit" color="primary">CONTACT</button>
                </div>
            </form>
        </div>
    </div>
</div>